
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: rgba(0, 125, 255, 0.87);
  text-decoration: none;
}

#facebook-login-button {
  display: none;
}

#welcome-container {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

#loading-view {
  display: none;
}

#content-container {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;

  -webkit-perspective: 1600px;
   -moz-perspective: 1600px;
     -o-perspective: 1600px;
        perspective: 1600px;
}

.content-layer {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;

  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.fb-element {
  position: absolute;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.38;
  color: rgba(0, 0, 0, 0.87);

  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  .fb-element:hover {
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.fb-photo {
}

.fb-post {
  border: 1px solid #bbbbbb;
}
  .fb-post-content {
    padding: 10px 10px 0px 10px;
    background-color: white;
    position: relative;
  }
  .fb-post-header {
    margin-bottom: 8px;
    height: 35px;
  }
    .fb-post-header-picture {
      display: block;
      position: absolute;
      width: 35px;
    }
    .fb-post-header-text {
      position: absolute;
      left: 52px;
      top: 12px;
    }
      .fb-post-header-name {
        font-weight: bold;
        font-size: 15px;
      }
      .fb-post-header-date {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
      }
  .fb-post a {
    display: block;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .fb-post-picture {
    display: block;
    width: 100%;
    margin-top: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  }
  .fb-link-body {
    padding: 8px;
  }
  .fb-link {
    font-weight: bold;
    font-size: 16px;
  }
  .fb-post-description {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
  }
  .fb-post-data {
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgba(200, 200, 200, 0.45);
    padding: 5px 10px 3px 10px;
  }
    .fb-post-datapoint {
      display: inline-block;
      margin: 0px 8px 0px 2px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.8);
    }
    .fb-post-comment {
      padding: 6px;
      font-size: 12px;
      border-top: 1px solid rgba(200, 200, 200, 0.3);
    }
      .fb-post-comment-name {
        font-weight: bold;
      }
      .fb-post-comment-date {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
      }

.fb-like {
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}
  .fb-like-cover {
    display: block; width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .fb-like-text-content {
    background-color: white;
    padding: 10px;
    font-size: 12px;
    line-height: 1.25;
  }
  .fb-like-title {
    font-weight: bold;
  }
  .fb-like-likes {
    margin-top: 2px;
    color: #9197a3;
    max-width: 80%;
  }
  .fb-likes-liked-button {
    display: block;
    position: absolute; right: 10px; bottom: 10px;
    width: 70px;
  }

.fb-event {
  background-color: white;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 10px;
}
  .fb-event-cover {
    display: block; position: relative;
    border: 1px solid #999999;
    width: 33%;
    float: left;
  }
    .fb-event-cover-when {
      position: absolute; left: 12px; top: 12px;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    }
      .fb-event-cover-month {
        font-size: 11px;
      }
      .fb-event-cover-day {
        font-size: 13px;
      }
  .fb-event-data {
    float: left;
    margin-left: 10px;
    width: 60%;
    font-size: 12px;
    line-height: 1.25;
  }
    .fb-event-name {
      color: #3b5998;
      font-weight: bold;
      font-size: 14px;
    }
    .fb-event-when {
      color: #4e5665;
    }
    .fb-event-venue {
      color: #4e5665;
    }
    .fb-event-who {
      color: #9197a3;
    }
    .fb-event-going-image {
      display: block;
      margin-left: -2px; margin-top: 2px;
    }
