
/*************************************************
 * General Styles
 *************************************************/

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: rgba(0, 125, 255, 0.87);
  text-decoration: none;
}
  a:hover, a:focus {
    text-decoration: underline;
  }

.welcome-container {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  text-align: center;
  font-family: "Times New Roman", serif;
}
  .app-welcome {
    margin-top: 60px;
  }
  .app-title {
    margin-top: 20px;
    font-size: 32px;
  }
  .app-description {
    margin: 20px auto 0px auto;
    max-width: 400px;
    text-align: left;
    line-height: 1.6;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
  }
  .shadow-button {
    display: inline-block; margin: 30px; padding: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
    .shadow-button:hover, .shadow-button:focus {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }
  .facebook-style-button {
    font-size: 20px;
    background-color: #5890ff; color: rgba(255, 255, 255, 0.95);
  }
    .facebook-style-button:hover {
      background-color: #6b9dff;
    }
  #facebook-login-button {
    opacity: 0;
  }
  .subsidiaries {
    position: absolute; bottom: 15px; right: 15px;
    line-height: 1.3; text-align: right;
  }
    .subsidiaries a:hover, .subsidiaries a:focus {
      font-style: italic;
    }

#loading-view {
  display: none;
  position: absolute; top: 0; left: 0; width: 100%;
  margin-top: 60px;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 24px;
}

#content-container {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;

  -webkit-perspective: 1600px;
   -moz-perspective: 1600px;
     -o-perspective: 1600px;
        perspective: 1600px;
}

.content-layer {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;

  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

/*************************************************
 * Popularity Styles
 *************************************************/

.popularity-zone {
  position: fixed;
  top: 40px; bottom: 40px;
  left: 50%; min-width: 800px; width: 84%; max-width: 1200px;
  transform: translateX(-50%);
  overflow: scroll;

  padding: 15px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  .popularity-zone:hover, .popularity-zone:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.popularity-share-wrapper {
  display: none;
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

  .popularity-share-zone {
    display: none;
    position: fixed;
    top: 50%; margin-top: -400px;
    left: 50%; width: 800px; margin-left: -400px;
  }

  .celebrity-head-bio {
    display: none;
    position: absolute; left: 50%; bottom: 175px;
    width: 400px; margin-left: -200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px; border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(238, 232, 170, 0.75);
  }
  .celebrity-head-zone {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 15%; max-width: 70%;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    padding: 5px; border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(170, 214, 238, 0.75);
  }
  .celebrity-head-tip {
    display: none;
    position: absolute; left: 10px; bottom: 200px; max-width: 240px;
    font-size: 15px; line-height: 1.25;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding: 8px; border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #facebook-share-button {
    display: none;
    position: absolute; right: 20px; bottom: 320px; margin: 0;
  }
  #skip-share-button {
    display: none;
    position: absolute; right: 20px; bottom: 240px; margin: 0;
    font-size: 20px; background-color: white;
  }
    .celebrity-head {
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: 100px; height: 130px;
      margin: 0px 25px;
      vertical-align: bottom;
    }
      .celebrity-head.disabled {
        cursor: auto;
      }
      .celebrity-head-image {
        width: 100%;
      }
      .offset-celebrity-head {
        display: none;
        position: absolute; left: 12px; top: 12px;
        opacity: 0.75;
        width: 115%;
      }
      .celebrity-head:hover .offset-celebrity-head {
        display: block;
      }
      .celebrity-head.disabled:hover .offset-celebrity-head {
        display: none;
      }
      .celebrity-head-disabler {
        position: absolute; left: 0; top: 0; width: 100%; height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.9);
      }
      .celebrity-name {
        position: absolute; top: 105px; width: 100%;
        text-align: center; font-size: 14px; font-family: "Times New Roman";
        color: rgba(0, 0, 0, 0.87); text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
      }
      .celebrity-head:hover .offset-celebrity-head {
        display: block;
      }
      .celebrity-head.disabled:hover .offset-celebrity-head {
        display: none;
      }
      .celebrity-head:hover .celebrity-name {
        font-weight: bold;
      }
      .celebrity-head.disabled:hover .celebrity-name {
        font-weight: normal;
      }
  .dreamy-message {
    position: fixed; top: 30%; left: 0; width: 100%; text-align: center;
    padding: 50px 0px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.85);
    font-size: 64px;
  }

.popularity-section {
  opacity: 0;
  margin-bottom: 25px;
  padding: 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.popularity-section-header {
  font-size: 32px;
  font-style: italic;
  font-family: "Times New Roman", serif;
  margin: 5px 5px 12px 5px;
}

.popularity-fb-element-wrapper {
  position: relative;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.popularity-element {
  width: 95%; max-height: 600px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: left;
}

.popularity-score-overlay {
  position: absolute; right: 15px; top: 10px;
  font-size: 44px;
  font-family: "Times New Roman", serif;
  color: rgb(233, 30, 30);
  text-shadow: 3px 3px 4px rgb(135, 88, 203);
}

/*************************************************
 * Facebook Recreation
 *************************************************/

.fb-element {
  position: absolute;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.38;
  color: rgba(0, 0, 0, 0.87);

  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  .fb-element:hover {
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.fb-photo {
  line-height: 0; font-size: 0;
}
  .fb-album-photo {
    margin: 0; padding: 0; width: 100%; height: 100%;
  }
  .fb-photo-caption {
    position: absolute; bottom: 0; left: 0; margin: 6px;
    font-size: 11px; line-height: 1.25;
    color: rgba(255,255,255,0.98);
    text-shadow: 1px 1px 0.5px rgba(0,0,0,0.5);
  }

.fb-post {
  border: 1px solid #bbbbbb;
}
  .fb-post-content {
    padding: 10px 10px 0px 10px;
    background-color: white;
    position: relative;
  }
  .fb-post-header {
    margin-bottom: 8px;
    height: 35px;
  }
    .fb-post-header-picture {
      display: block;
      position: absolute;
      width: 35px;
    }
    .fb-post-header-text {
      position: absolute;
      left: 52px;
      top: 12px;
    }
      .fb-post-header-name {
        font-weight: bold;
        font-size: 15px;
      }
      .fb-post-header-date {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
      }
  .fb-post a {
    display: block;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .fb-post-picture {
    display: block;
    width: 100%;
    margin-top: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  }
  .fb-link-body {
    padding: 8px;
  }
  .fb-link {
    font-weight: bold;
    font-size: 16px;
  }
  .fb-post-description {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
  }
  .fb-post-data {
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgba(200, 200, 200, 0.45);
    padding: 5px 10px 3px 10px;
  }
    .fb-post-datapoint {
      display: inline-block;
      margin: 0px 8px 0px 2px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.8);
    }
    .fb-post-comment {
      padding: 6px;
      font-size: 12px;
      border-top: 1px solid rgba(200, 200, 200, 0.3);
    }
      .fb-post-comment-name {
        font-weight: bold;
      }
      .fb-post-comment-date {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
      }

.fb-like {
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}
  .fb-like-cover {
    display: block; width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .fb-like-text-content {
    background-color: white;
    padding: 10px;
    font-size: 12px;
    line-height: 1.25;
  }
  .fb-like-title {
    font-weight: bold;
    max-width: 67%;
  }
  .fb-like-likes {
    margin-top: 2px;
    color: #9197a3;
    max-width: 80%;
  }
  .fb-likes-liked-button {
    display: block;
    position: absolute; right: 10px; bottom: 10px;
    width: 70px;
  }

.fb-event {
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  padding: 10px;
}
  .fb-event-cover {
    display: block; position: relative;
    border: 1px solid #999999;
    width: 33%;
    float: left;
  }
    .fb-event-cover-when {
      position: absolute; left: 12px; top: 12px;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    }
      .fb-event-cover-month {
        font-size: 11px;
      }
      .fb-event-cover-day {
        font-size: 13px;
      }
  .fb-event-data {
    float: left;
    margin-left: 10px;
    width: 60%;
    font-size: 12px;
    line-height: 1.25;
  }
    .fb-event-name {
      color: #3b5998;
      font-weight: bold;
      font-size: 14px;
    }
    .fb-event-when {
      color: #4e5665;
    }
    .fb-event-venue {
      color: #4e5665;
    }
    .fb-event-who {
      color: #9197a3;
    }
    .fb-event-going-image {
      display: block;
      margin-left: -2px; margin-top: 2px;
    }

.fb-place {
  border-radius: 2px;
  border: 1px solid rgb(190, 190, 190);
  background-color: white;
  font-size: 14px;
  line-height: 1.4;
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
}
  .fb-place-username {
    font-weight: bold;
  }
  .fb-place-name {
    font-weight: bold;
    font-style: italic;
  }
  .fb-place-when {
    color: rgba(0, 0, 0, 0.6);
  }

.fb-group {
  border-radius: 2px;
  border: 1px solid rgb(190, 190, 190);
}
  .fb-group-cover {
    display: block; position: relative;
    width: 100%;
    min-height: 120px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(231, 231, 231);
  }
  .fb-group-cover-text {
    position: absolute; left: 20px; top: 15px;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
    z-index: 1;
  }
    .fb-group-name {
      font-size: 24px;
    }
    .fb-group-privacy {
      font-size: 14px;
    }
  .fb-group-joined-image {
    display: block;
    position: absolute; right: 10px; bottom: 10px;
    width: 60px;
  }
  .fb-group-description {
    padding: 12px;
    background-color: white;
    color: rgb(20, 24, 35);
    line-height: 1.25;
    font-size: 12px;
    white-space: pre-line;
  }

.fb-demographic-text {
  font-family: "Times New Roman", serif;
  padding: 7px;
  box-shadow: none;
}
  .fb-demographic-text:hover {
    background-color: white;
  }
